# .gitignore

.DS_Store
xcuserdata
NeuralGraphics.xcodeproj/project.xcworkspace/xcuserdata
Tools/metal-package-builder
Assets/SourceAssets
Assets/BakedAssets/IntelSponza
Assets/BakedAssets/Bistro
Assets/BakedAssets/SanMiguel
Assets/BakedAssets/LivingRoom
